@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  background: url('./images/background-dashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
    top:0;
    left:0;
    position:fixed; 
}

.board > button {
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  display: inline-block;
  top: 40px;
  left: 100px;
  width: 195px;
  height: 195px;
  background: url('./images/empty-note.png') no-repeat;
  font-size: 30px;
  font-family: "Shadows Into Light", Arial;
}

div.note.note-yellow {
  background-color: Khaki;
}

div.note.note-green {
  background-color: LightGreen;
}

div.note.note-blue {
  background-color: LightSteelBlue;
}

div.note.note-purple {
  background-color:Plum;
}

div.note.note-pink {
  background-color: Pink;
}

div.note.note-white {
  background-color: Snow;
}

div.note {
  height: 250px;
  width: 250px;
  background-color: Khaki;
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin-topin: 10px;
  font-size: 20px;
  padding: 10px;
  font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note > span.optionsTop {
  height: 15%;
  width: 250px;
}

div.note > span.optionsBottom {
  height: 15%;
  width: 250px;
  bottom: 1px;
}

div.note button {
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 35px;
    border-radius: 8px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

div.note button.yellow {
    background-color: #FFF047; /* Yellow */
}

div.note button.green {
    background-color: #4CAF50; /* Green */
}

div.note button.blue {
    background-color: #6961FF; /* Blue */
}

div.note button.purple {
    background-color: #B347FF; /* Green */
}

div.note button.pink {
    background-color: #FF6173; /* Pink */
}

div.note button.white {
    background-color: #F2E0FF; /* White */
}

div.note button.leftNote {
  font-size: 1.0em;
  top: 10px;
  left: 10px;
  float: left;
  width: 75px;
  margin-left: 5px;
}

div.note button.rightNote {
  font-size: 1.0em;
  top: 10px;
  right: 10px;
  float: right;
  width: 75px;
  margin-right: 5px;
}

div.note > textarea {
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  height:80%;
  width: 95%;
  background: rgba(255, 255, 255, .5);
}
